/*----------------------------------------*/
/* General */

:root {
	--w-code-background-color: #818b981f;
    --w-pre-background-color: #f6f8fa;
}

html {
	font-family: "Segoe UI", "DejaVu Sans", sans-serif;
	scroll-behavior: smooth;
}

body {
	background-color: #f4f4f4;
}

/* Main content */
/*----------------------------------------*/

a:hover {
	color: #818080 !important;
}
