/*----------------------------------------*/
/* General */

:root {
	--bs-secondary-bg: #f6f8fa;
	--bs-tertiary-bg: #818b981f;
}

[data-bs-theme=dark] {
	--bs-secondary-bg: #262a2f;
	--bs-tertiary-bg: #2b3137;
}

html {
	font-family: "Segoe UI", "DejaVu Sans", sans-serif;
	scroll-behavior: smooth;
}

body {
	background-color: var(--bs-light-bg-subtle);
}

[data-bs-theme=dark] body {
	background-color: var(--bs-dark-bg-subtle);
}

/* Main content */
/*----------------------------------------*/
